:root
  --primary-bg-color: #252525
  --bg-color: #0008
  --header-bg-color: #000d
  --accent-color: #0074e0

  --page-width: 800pt

*
  margin: 0px
  box-sizing: border-box

html, body
  display: flex
  min-width: 100%
  min-height: 100%

body
  flex-flow: column
  color: white
  background: #252525
  text-shadow: 0px 1.5pt 3pt #000a
  font-family: Noto Sans, sans-serif
  font-size: 1rem
  // @media only screen and (max-width: 540px)
  //   font-size: 0.75rem


header
  display: flex
  align-items: center
  flex-flow: row nowrap
  justify-content: center
  padding: 1em
  background: var(--header-bg-color)
  box-shadow: 0 0 3pt var(--header-bg-color)
  position: sticky
  top: 0
  z-index: 1
  ul
    display: flex
    flex-flow: row
    li
      &:not(:first-child)
        padding-left: 1rem

main
  display: flex
  flex-flow: column
  flex-grow: 1
  align-items: center
  margin: 1rem

footer
  display: flex
  justify-content: center
  margin-top: 3rem
  padding-bottom: 3rem
  text-align: center

a
  color: var(--accent-color)
  text-decoration: none
  &:hover
    color: var(--accent-color)
    text-decoration: underline
  &:active
    color: var(--accent-color)
    text-decoration: underline

nav
  display: flex
  flex-flow: row nowrap
  justify-content: space-between
  max-width: var(--page-width)
  width: 100%
  a
    font-weight: bold
    color: white
    &:hover, &:active
      color: lightgray

ul
  list-style: none
  padding-left: 0px

hr
  width: 100%
  margin-top: 1rem
  margin-bottom: 1rem
  border: none
  height: 2pt
  background-color: #0006

table
  display: block
  overflow: auto
  border: none
  width: 100%
  border-spacing: 0px
  th, td
    text-align: left
    padding: 0.5rem
  :where(th, td):not(.max)
    padding-left: 1rem
  .max
    width: 100%
  tr:nth-child(even)
    background: #0006
    border-radius: 5pt

.container
  display: flex
  flex-flow: column
  max-width: var(--page-width)
  width: 100%

.card
  border-radius: .25rem
  background-color: #0008
  display: flex
  flex-flow: column
  position: relative
  padding: 1rem
  margin-top: 1rem

.row
  display: flex
  flex-flow: row

.column
  display: flex
  flex-flow: column

.grow
  flex-grow: 1

.crushed
  min-width: 0
  min-height: 0
  overflow: auto

.m1
  margin-top: 1rem

.m3
  margin-top: 3rem

.ml1
  margin-left: 1rem
.mr1
  margin-right: 1rem

.center
  text-align: center

.nowrap
  white-space: nowrap

.icon
  object-fit: contain
  width: 2rem
  height: 2rem

.server_item
  color: white
  &:hover, &:active
    background: #000d
    color: white
    text-decoration: none

.background_image
  filter: brightness(75%)
  z-index: -1
  position: fixed
  width: 100vw
  height: 100vh
  background-repeat: no-repeat
  background-size: cover

.tester_present
  background-color: #060
  &:nth-child(even)
    background-color: #040

.tester_absent
  background-color: #800
  &:nth-child(even)
    background-color: #600
