<!DOCTYPE html>
html lang="en"
  head
    meta charset="UTF-8"
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    meta name="viewport" content="width=device-width, initial-scale=1.0"
    link rel="stylesheet" href="#{url("/css/application.css")}" type="text/css"
    link rel="shortcut icon" href="#{url("/favicon-256.png")}"
    - if content_for(:page_title).to_s.length.positive?
      title #{content_for(:page_title)} — W3D Server List
    - else
      title W3D Server List

  body
    .background_image[style="background-image: url(#{url "/media/images/backgrounds/#{content_for(:game_id) ? "background_#{content_for(:game_id)}" : "application_background" }.webp"})"]
    header
      nav
        a href=url("/") W3D Server List

        - if authorized_to_view_test_sessions?
          a href=url("/test_sessions") Test Sessions

        ul
          li Servers: #{W3DServerList::MemStore.data[:server_list].count}
          li Players: #{W3DServerList::MemStore.data[:server_list].map { |s| s[:status][:numplayers] }.sum }

    main
      .error.center
        p=flash[:error]
        p=flash[:alert]
        p=flash[:notice]
      == yield

    footer
      .container
        p W3D Server List &copy; 2022-#{Time.now.utc.year} to <a href="https://cyberarm.dev" target="_developer_website">cyberarm</a>
        ul
          li
            a href="https://github.com/cyberarm/w3d_server_list" target="_source_code" Source Code
