- content_for :page_title
  = "#{@server.hostname}"
- content_for :game_id
  = @server.game

- @gsh_server = W3DServerList::MemStore.data[:server_list].find { |s| s[:address] == @server.address && s[:port] == @server.port }
- last_report = @server.reports_dataset.last

.container.m3
  h1.center=@server.hostname
  .m1
    .card.row
      img.mr1.icon[title=@server.game src="#{url "/media/images/app_icons/icon_#{@server.game}.webp"}"]
      .column.grow
        b Map
        p=@server.map_name
        b.m1 Next Map
        p=@gsh_server ? @gsh_server[:status][:nextmap] : "—"
        b.m1 Region
        p=@gsh_server ? @gsh_server[:region] : "Europe"
      .column.grow.ml1.mr1
        b Ping
        p —
        b.m1 Time
        p=server_match_time(@gsh_server)
        b.m1 Channel
        p=@gsh_server ? @gsh_server[:channel] : "release"
      .column
        b Players
        p #{@server.player_count}/#{@server.max_players}
        b.m1 Time Left
        p=@gsh_server ? @gsh_server[:status][:remaining] : "—"
        b.m1 Version
        p=@gsh_server ? @gsh_server[:version] : "838"

    .card
      h2.center Peak Players Over Time (week)
      - if last_report
        p.center
            i=graph_timespan(last_report, :week)
        div
        canvas id="players_over_time" data-data="#{player_count(@server, last_report, :week, :max)}"

    .card
      h2.center Average Players Over Time (month)
      - if last_report
        p.center
            i=graph_timespan(last_report, :month)
        div
        canvas id="average_players_over_time" data-data="#{player_count(@server, last_report, :month, :average)}"

  - if @gsh_server
    - @gsh_server[:status][:teams].each do |team|
      - players = @gsh_server[:status][:players].select { |player| player[:team] == team[:id] }.sort_by { |player| player[:score] }.reverse
      -# skip non-standard teams with no players
      - next if players.size.zero? && !team[:id].between?(0, 1)
      .card.m3
        .row
          img.mr1.icon[title=@server.game src="#{url "/media/images/factions/faction_#{@server.game}_#{team[:name].downcase}.webp"}"]
          .column.grow
            b=team[:name]
            .row
              .column.grow
                b Score
                p=team[:score]
              .column.grow.ml1
                b Kills
                p=team[:kills]
              .column.grow.ml1
                b Deaths
                p=team[:deaths]
              .column.ml1
                b Players
                p #{players.count}/#{@server.max_players}
        - if players.count.positive?
          hr
          table.player_list
            tbody
              tr
                th.max Name
                th Score
                th Kills
                th Deaths
                th Ping
                th Time
              - players.each do |player|
                tr
                  td.max=player[:nick]
                  td=player[:score]
                  td=player[:kills]
                  td=player[:deaths]
                  td=player[:ping]
                  td=player[:time]
  - else
    h3.m3.center Player list unavailable, server appears offline.

== render :"servers/_charts_js"
